[2014-12-30 11:03] shwetsolanki-lrm opened #12882 "Xcode 6 Cocoa Touch Framework"
Hey, I am created the podspec file for the Cocoa Touch Framework. I have used **"vendored_frameworks"**. Now when I try to install the podspec in my project, the Framework is added correctly. But when run the app, I get the following error.

**dyld: Library not loaded: @rpath/Some.framework/Some
  Referenced from: /private/var/mobile/Containers/Bundle/Application/45B49F35-31E2-49F6-8102-26FF43F0BB

[2015-01-02 07:38] shwetsolanki-lrm commented on #12882
This is the spec

https://github.com/shwetsolanki-lrm/TestFramework/blob/master/Test-iOS-SDK.podspec

[2015-01-02 16:32] Keithbsmiley commented on #12882
Sounds like some sort of framework configuration issue. That is the one and only way to ship frameworks via CocoaPods. You should ask this question on stackoverflow.

[2015-01-02 16:32] #12882 closed

[2015-01-02 19:07] iosdev-republicofapps opened #12885 "Unclear how to update the version number in a spec"
Hi,

I'm trying to use MMMarkdown through CocoaPods.  The author of MMMarkdown doesn't use CocoaPods and doesn't want to include pod specs in his original MMMarkdown repo.  That's fine, that's his choice and he's been good about supporting MMMarkdown and it's a wonderful piece of code.

A new version of MMMarkdown was just released, 0.4, and I wanted to create a pod spec for that.  It's not clear

[2015-01-02 19:25] Keithbsmiley commented on #12885
MMMarkdown isn't currently owned. There is a built in command to tell you this information coming in a future version of CocoaPods.

Yes.

Claim the spec, bump the versions, push the JSON.

No, it has to go through trunk.

We still recommend you write the ruby versions. The JSON versions on trunk are really just an implementation detail.

Yea. This is because this is just a crappy situation. In th

[2015-01-02 19:26] Keithbsmiley commented on #12885
Also it would be ideal, assuming the author is willing, to just ask them to submit a new version of the spec when they tag the repo. Obviously this doesn't always work out.

[2015-01-02 19:37] iosdev-republicofapps commented on #12885
Hi Keith,

Thanks so much for responding so quickly, I really appreciate your help!

Since I was already hosting the pod spec in my own fork of MMMarkdown and have verified that 0.4 builds fine, could I just do the following:

1. Download https://github.com/CocoaPods/Specs/blob/master/Specs/MMMarkdown/0.3/MMMarkdown.podspec.json to ~/MMMarkdown.podspec.json
2. Change the two occurrences of "0.3" t

[2015-01-02 19:41] Keithbsmiley commented on #12885
The lint should work fine just from the spec, it will download the source repo and check it. You don't have to convert the spec to ruby, just update the json one and push it.

[2015-01-02 19:49] iosdev-republicofapps commented on #12885
Thanks Keith!

However, pod doesn't seem to want to pull down the new files.  In my test project that uses MMMarkdown, I have:

[code]

However neither pod update or pod install will bring down the new files from 0.4.  It seems like pod is confused.  Why doesn't it see the new 0.4 files?

Note that the pod spec is hosted at https://github.com/iosdev-republicofapps/MMMarkdown.git and it has both ve

[2015-01-02 19:52] Keithbsmiley commented on #12885
I would delete your local cached copy by removing it from your Pods folder and do a reinstall.

[2015-01-02 19:54] iosdev-republicofapps commented on #12885
Here is my test project's Podfile if it helps:
[code]

Here is the output of running `pod update --verbose``:
[code]

It is not pulling down the changes ... :-(  I can see that many of the changes that went into 0.4 are not being pulled down.

Why is pod still talking about 0.3 when the pod spec.json only references 0.4?

[2015-01-02 19:56] iosdev-republicofapps commented on #12885
Should I just delete `Pods/MMMarkdown` to delete it from my local cache?  Or do I need to remove other files like Xcode schemes and such?

[2015-01-02 20:02] iosdev-republicofapps commented on #12885
I deleted all of the following files:
[code]

It still doesn't work.  I still get:
[code]

Where is it getting 0.3 from?  And I don't specify commit 7519b592e984bcd9c35fa1fecaf0774cd315b038 anywhere ...

Do I need to apply the 0.4 git tag to my forked MMMarkdown repo, the one where I'm pulling the pod spec from?  I thought it was enough that the tag was on the actual repo where the pod code is com

[2015-01-02 20:11] iosdev-republicofapps commented on #12885
OK, the following seems to have forced pod to download 0.4:
[code]
It seems like the Podfile.lock had the version stuck at 0.3 and refused to download 0.4 even though the Podspec in my fork listed 0.4.  Is this maybe a bug in how :git pod specs are handled?

[2015-01-02 20:20] iosdev-republicofapps commented on #12885
Yay!  Pushed:
[code]

One last question.  I keep trying `pod search MMMarkdown` to see if my update is available but it doesn't list 0.4.  The only way to see 0.4 was to do 'pod spec update`.  Then pod search returned 0.4.  Do others need to do pod spec update to see this new version?  Isn't the search remote or only local?

Anyway, thanks for all of your help and sorry for so many questions, I kn

[2015-01-02 20:25] Keithbsmiley commented on #12885
Ah yes it wouldn't download 0.4 because you hadn't pushed it yet. So you can lint the spec, but not include it in your project.

[2015-01-02 20:25] Keithbsmiley commented on #12885
`pod repo update` is performed automatically when running many commands, so no users shouldn't have to worry about it.

[2015-01-02 20:25] #12885 closed

[2015-01-03 08:03] shwetsolanki-lrm commented on #12882
Okie, could you tell me how do I add my framework to the Projects **Copy Files** in **Build Phases**?

Check the image attached.

![screenshot 2015-01-03 13 29 29](https://cloud.githubusercontent.com/assets/9427574/5601911/c3aa306e-934c-11e4-9e85-091aaf06b63a.png)

[2015-01-03 10:41] Keithbsmiley commented on #12882
This is not how CocoaPods works. It automatically links them with the xcconfigs.

[2015-01-05 09:56] shwetsolanki-lrm commented on #12882
I would like you to check this https://medium.com/@syshen/create-an-ios-universal-framework-148eb130a46c

This post it explains how the Xcode 6 cocoa touch framework is created. I have followed the same steps. Check the Troubleshoot section. Its talking about the same problem which I have raised. Now, in the blog post, framework is included manually by Drag n Drop and thus the user have to make su

[2015-01-05 14:21] Keithbsmiley commented on #12882
If you think there is a bug in CocoaPods please submit it on the [main repo](https://github.com/CocoaPods/CocoaPods)

[2015-01-10 03:25] luyishisan opened #12901 "error for pod install AWS.SKD"
why i cannot install the pod  ?

luyitekiMac:wardtester1.2.2 luyi$ pod install
fatal: Not a git repository (or any of the parent directories): .git
fatal: Not a git repository (or any of the parent directories): .git
fatal: Not a git repository (or any of the parent directories): .git

――― MARKDOWN TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

### Report

* What did you do?

[2015-01-12 02:06] segiddins commented on #12901
This is a duplicate of https://github.com/CocoaPods/CocoaPods/issues/3026.

[2015-01-12 02:06] #12901 closed

[2015-01-12 06:16] jameswangz opened #12904 "Command to show all Pod owners"
Hi,

Can we add a new command to show all owners for given pod, I only know I can use "pod trunk me" to show all pods for given user,  but the reverse relation should be helpful for the owner.

Thanks,
James

[2015-01-12 08:41] squarefrog commented on #12904
https://github.com/CocoaPods/cocoapods-trunk/issues/15 discussed this. You can use the following command to get a list of owners

    pod trunk info AFNetworking

[2015-01-12 08:41] #12904 closed

[2015-01-13 07:43] swtlovewtt opened #12905 "how long will my kit be deployed (WTRequestCenter)"
thank you

[2015-01-13 09:06] squarefrog commented on #12905
I don't understand your question. Are you asking how long until your pod shows up? It's already in the [Specs repo](https://github.com/CocoaPods/Specs/blob/d518e96e4aafc2d74fe93d0fe18a313c32906ad2/Specs/WTRequestCenter/0.5.1/WTRequestCenter.podspec.json) and [online](http://cocoapods.org/?q=WTRequestCenter), if it's not showing up locally, run the following command in Terminal:

    pod repo updat

[2015-01-13 09:06] #12905 closed

[2015-01-13 09:07] squarefrog commented on #12905
You should also make the effort to fill in your Pods description.

[2015-01-14 10:06] chebur opened #12908 "Missing headers (build 8005.2.0)"
Latest available build 8005.2.0 is missing RTC* headers. Decided to rollback to the build 7972.2.0 which has headers.

[2015-01-14 11:26] squarefrog commented on #12908
I'm not entirely sure what you are asking here? Was this supposed to be posted to a pods issue page rather than here?

[2015-01-14 11:26] #12908 closed

[2015-01-14 11:30] chebur commented on #12908
I'm sorry, you're right. Should've posted this to the correct place. Thank you.

[2015-01-14 13:46] xhzengAIB opened #12909 "Hi! I have a little problem."
Hi!
I run pod trunk register xhzengAIB@gmail.com "Jack"

I click the link ok.

But:
pod trunk push XHScrollMenu.podspec
Validating podspec
 -> XHScrollMenu (1.0)

[!] You are not allowed to push new versions for this pod.

Why?

Jack

[2015-01-14 16:34] Keithbsmiley commented on #12909
You must first claim the spec http://blog.cocoapods.org/Claim-Your-Pods/

[2015-01-14 16:34] #12909 closed

[2015-01-15 05:40] orta opened #12910 "Closing the CocoaPods/Push team"
Hey there @CocoaPods/push I'm going to remove the team. It's not that I don't particularly distrust you lot as members, but that I don't think anyone needs access anymore and it's always better to reduce the scope for things going wrong.

:+1:

Will close this issue and delete team tomorrow. I remember 3+ years ago when I got push access, it was the first step towards something much, much bigger.

[2015-01-15 05:43] supermarin commented on #12910
![](http://i.imgur.com/FHo7ng8.gif)

[2015-01-15 10:27] ashfurrow commented on #12910
Makes sense. I remember when I got push access – it changed a lot about how I saw collaboration online.

[2015-01-15 10:30] AliSoftware commented on #12910
Same here, what an epic moment it was! :dancer:

[2015-01-15 15:07] yas375 commented on #12910
:+1:

[2015-01-15 15:26] listrophy commented on #12910
![colbert](http://www.reactiongifs.com/r/bakis.gif)

[2015-01-15 17:29] #12910 closed

[2015-01-16 09:22] googoodalls opened #12912 "Seems currently v3.10 available"
Hello, Experts.

Seems currently v3.10 is available.
if possible, the official pod specs can be updated to v3.10 ?

http://dl.google.com/googleanalyticsservices/GoogleAnalyticsServicesiOS_3.10.zip

BR

Steven

[2015-01-16 11:51] squarefrog commented on #12912
$ pod search googleanalytics

returns:

    -> GoogleAnalytics-iOS-SDK (3.10)
       GoogleAnalytics for iOS SDK.
       pod 'GoogleAnalytics-iOS-SDK', '~> 3.10'
       - Homepage: https://developers.google.com/analytics/devguides/collection/ios/
       - Source:   https://dl.google.com/googleanalyticsservices/GoogleAnalyticsServicesiOS_3.10.zip
       - Versions: 3.10, 3.0.9, 3.0.8, 3.0.7, 3.0.6,

[2015-01-16 11:51] #12912 closed

[2015-01-16 23:56] jgd5 opened #12913 "duplicate symbol _main resulted from leveldb_main.cc and db_bench.cc"
Should we exclude db_bench.cc in the spec? I was using  xcode-beta 6.2:

[code]

[2015-01-19 18:58] ACALBUQUERQUE opened #12916 "When you guys will update the LIBFFI in Specs?"
The lib was updated a long time ago and here nothing!

[2015-01-19 19:04] Keithbsmiley commented on #12916
// @zwaldowski

[2015-01-19 19:04] #12916 closed

[2015-01-23 04:39] #12913 closed

[2015-01-23 08:28] natalia-osa opened #12924 "Pod broken, duplicated symbols"
Happened to me today. Last time I've performed `pod update` my log was:

    Removing DTAlertView
    Downloading dependencies
    Using GTMHTTPFetcher (0.1.0)
    Using Google-API-Client (0.1.1)
    Using Google-Maps-iOS-SDK (1.9.0)
    Using KissXML (5.0)
    Using MGSwipeTableCell (1.3.3)
    Installing RNBlurModalView (0.1.0)
    Using gtm-oauth2 (0.1.0)
    Using iVersion (1.11.4)
    Using l

[2015-01-23 08:53] #12924 closed

[2015-01-23 14:21] boredzo opened #12926 "CocoaPods search finds podspec under wrong name"
Apologies if this is the wrong place to file a bug about the search on the CocoaPods webpage.

If you [search the CocoaPods website for “iso-8601-date-formatter”](http://cocoapods.org/?q=iso-8601-date-formatter), that's exactly what it finds, complete with a description and a [link to the site](http://boredzo.org/iso8601dateformatter/). The [Docs](http://cocoadocs.org/docsets/iso-8601-date-formatt

[2015-01-23 14:51] squarefrog commented on #12926
It appears as both when you [do a websearch](http://cocoapods.org/?q=iso).

[2015-01-23 14:57] boredzo commented on #12926
I'll clarify the wording of the original report. Web search is what I was talking about.

So, the web search can find it both ways, but only one of them works: ISO8601DateFormatter is correct; iso-8601-date-formatter's Docs and Spec links are 404.

[2015-01-23 16:16] Keithbsmiley commented on #12926
Submitted an issue to get this removed. Thanks! https://github.com/CocoaPods/trunk.cocoapods.org/issues/125

[2015-01-23 16:16] #12926 closed

[2015-01-24 09:41] JGINGIT opened #12928 "Facebook-iOS-SDK file formatter problem"
[code]
and there is same issue https://github.com/CocoaPods/CocoaPods/issues/2418
I can't slove it by doing
[code]
I can run 'python^M'  but there is still  ' bad interpreter ' when 'pod install'
Any suggestions?

[2015-01-24 11:10] JGINGIT commented on #12928
[code]
and then
[code]
it works

[2015-01-24 18:07] Keithbsmiley commented on #12928
:+1:

[2015-01-24 18:07] #12928 closed

[2015-01-27 06:16] vincentkjj opened #12932 "AFNetworking-MUResponseSerializer pointing to 404 repo"
Hi,

I found that AFNetworking-MUResponseSerializer spec points to https://github.com/Ulianko/AFNetworking-MUResponseSerializer.git, which currently returns 404.

Is this link no longer used? Could you fix the repo or update the link?

[2015-01-27 07:32] Keithbsmiley commented on #12932
Looks like the owner has removed this repo. If you would like to submit a PR to remove the related specs that would be great!

[2015-01-27 07:32] #12932 closed

[2015-02-05 02:31] Rannie opened #12946 "Pod trunk push error"
push failed by error:
 -> CoreDataParrot (0.1.0)
    - ERROR | [xcodebuild]  error: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/libtool: unknown option character `X' in: -Xlinker
Why? [podspec link](https://github.com/Rannie/CoreDataParrot/blob/master/CoreDataParrot.podspec)

[2015-02-05 04:47] Keithbsmiley commented on #12946
Sounds like you aren't using the CocoaPods beta that supports swift. See http://blog.cocoapods.org/Pod-Authors-Guide-to-CocoaPods-Frameworks/

[2015-02-05 04:47] #12946 closed

[2015-02-13 16:26] georgbachmann opened #12959 "ld: library not found for -lPods when I mix Swift and ObjC pods"
Hello,
in a project that I am working on, I want to use some swift pods and some non-swift pods.
So I added GPUImage and tried using it but when compiling i get `ld: library not found for -lPods`
I already did clean and even delete all pods (incl. the project file) and made a new pod install. I have 0.36.0.beta.2 of cocoapods installed...

Is this a known issue? Or is there a workaround?

Here's m

[2015-02-13 18:14] Keithbsmiley commented on #12959
Please check for issues or post this on the main repo https://github.com/CocoaPods/CocoaPods/issues

[2015-02-13 18:14] #12959 closed

[2015-02-16 20:21] mikeakers opened #12962 "Boost is missing circular_buffer files"
The Boost pod is missing some files that are required for circular_buffer to work:

<pre>
boost/circular_buffer/base.hpp
boost/circular_buffer/debug.hpp
boost/circular_buffer/details.hpp
boost/circular_buffer/space_optimized.hpp
</pre>

I'd like to add them to the spec but I'm not sure which subspec they would belong to. Or even if they should be in a new subspec. Any suggestions?

[2015-02-17 08:34] squarefrog commented on #12962
Looks like the pod owner/maintainer is @jcollas, you could try and contact him to discuss how to proceed.

[2015-02-17 08:34] #12962 closed

[2015-02-19 09:57] alexmanzer opened #12969 "OpenCV repo link is not reachable"
Hi,

At the moment the OpenCV pod points to a dead link:
http://skylink.dl.sourceforge.net/project/opencvlibrary/opencv-ios/2.4.10/opencv2.framework.zip

In general http://skylink.dl.sourceforge.net is not reachable anymore.

Could you fix the repo or update the link?

![bildschirmfoto 2015-02-19 um 10 56 51](https://cloud.githubusercontent.com/assets/1938527/6264672/12835528-b826-11e4-9d3c-eafaad

[2015-02-19 11:31] squarefrog commented on #12969
Looks like the project has moved to https://github.com/Itseez/opencv I think this would be a valid reason to submit a [Pull Request](https://github.com/CocoaPods/Specs/pull/12199)

[2015-02-19 11:31] #12969 closed

[2015-02-23 09:47] alloy opened #12974 "TWRChartsNew spec"
@Apolotary @chasseurmic

Hey folks,

_I would like to first make it very clear that this thread is **not** meant as place to have a discussion on the topic as to what is or what is not allowed. That is legalese that should foremost be handled by a license._

@Apolotary From our point of view, I have just one practical question at this point, which is if you’ve decided to take down the repo as I ca

[2015-02-23 10:03] Apolotary commented on #12974
Hi,

Yes, please remove the repo. I’ve made a mistake by creating a public podspec instead of a private one.

and also the main developer is kinda freaking out which concerns me

Best regards,
Bektur

[2015-02-23 10:04] chasseurmic commented on #12974
Nothing to be concerned about. It's just common sense and respect for the work of others.

[2015-02-23 10:06] alloy commented on #12974
Thanks for answering in a timely fashion :+1: We will remove the repo from the index.

[2015-02-23 10:10] alloy commented on #12974
Done in 15c2f52fb95b51879737f0d6721c57aaf52e0844.

[2015-02-23 10:10] #12974 closed

[2015-02-23 10:45] tarokker opened #12976 "Google Maps iOS SDK 1.9.2 - Minimum req. iOS7 ?"
Latest podspec reports ios7 as minimum requirement for Google Maps iOS SDK 1.9.2:

https://github.com/CocoaPods/Specs/blob/master/Specs/Google-Maps-iOS-SDK/1.9.2/Google-Maps-iOS-SDK.podspec.json

Is this an error? Google examples from original ZIP file works successfully with ios6.0.
This podspec broke also my ios6.0 compatibility :(

[2015-02-23 15:47] squarefrog commented on #12976
That change was made by @domesticmouse in https://github.com/CocoaPods/Specs/pull/12973 I suggest you look at the notes for that Pull Request or contact the author of that Pull Request.

[2015-02-24 01:35] domesticmouse commented on #12976
See https://github.com/CocoaPods/Specs/pull/12980

[2015-02-24 01:48] #12976 closed

[2015-03-05 16:14] markwhite00 opened #12995 "Fabric.podspec missing AddressBook framework"
I think the pod spec needs the following added to resolve linker errors when using v1.1.3

"frameworks": [
    “AddressBook"
  ],

[2015-03-12 15:53] Usipov opened #13003 "Project not compiling after updating to cocoapods 36.0"
![2015-03-12 18 45 49](https://cloud.githubusercontent.com/assets/1080247/6621676/0a3b2f84-c8e9-11e4-9d56-ca43f7e1b17d.png)

Looks like you have changed a flag, standing for objc_sendSuper or objc_messageSend direct calls permitting

We tested, that updating pods using cocoapods 35.0 works fine

[2015-03-12 16:12] orta commented on #13003
This compiler flag is the new standard for Xcode projects from Apple since [Xcode 6](http://stackoverflow.com/questions/25852079/in-xcode6-gold-master-using-objc-msgsend-now-throws-a-syntax-error-saying-the-n), I'd recommend fixing this.

[2015-03-12 16:12] #13003 closed

[2015-03-13 14:25] natalia-osa opened #13007 "Private cocoapods don't work after upgrading to 0.36"
Week ago the project was working. Today I've updated cocoapods to 0.36.0 and tried to perform `pod update`, which isn't working. I have multiple private pod repos, and in all of them I can see the problem.
So now when I type `pod repo`:

    company-private
    - Type: git (origin)
    - URL:  ssh://me@myCompany.com//path/git/PrivateCocoapods
    - Path: /Users/Username/.cocoapods/repos/company-pr

[2015-03-13 14:33] natalia-osa commented on #13007
Well basing on help from SOF (@Jakub Vano) and new, updated docs I've found, that now we have to add source on the beginning of each podfile - it solves the issue.

[2015-03-13 14:33] #13007 closed

[2015-03-19 19:31] jodyscho opened #13016 "Getting a crash in unsolicited_mwi_on_rx_request"
I've been getting a random crash. Looking into the crash report I see an access violation. Apparently this was fixed in 2.2. Are other's seeing this as well? I'll see if I can narrow down to the minimum config to reproduce.

http://trac.pjsip.org/repos/ticket/1753

[2015-03-19 19:39] Keithbsmiley commented on #13016
This is not the place to get help on this issue. Submit it upstream.

[2015-03-19 19:39] #13016 closed

[2015-03-21 17:19] RyanCopley commented on #12995
I noticed this as well...

[2015-03-21 19:18] Keithbsmiley commented on #12995
Please submit a PR for this fix. It will need to be okayed by @zergtmn

[2015-03-21 19:18] #12995 closed

[2015-03-21 19:28] RyanCopley commented on #12995
I opened an issue with the Twitter team... I don't feel qualified to modify their pod spec

[2015-03-21 19:32] Keithbsmiley commented on #12995
Actually @zergtmn has no affiliation with Twitter (as far as I can tell) and they don't official support using CocoaPods as an installation method. But him submitting that fix is fine too, either way it would be best if he okayed it.

[2015-03-21 19:55] zergtmn commented on #12995
I've pushed 1.2.1 with a fix. Thanks!

[2015-03-30 09:55] StakshiGarg opened #13031 "update pods for boost"

[2015-03-30 10:14] squarefrog commented on #13031
We have just launched 'Trunk', which is the new way for you to submit your Pods. For more information on this have a read through the post at http://blog.cocoapods.org/CocoaPods-Trunk/ If you have previously had your Pod merged into the master repository, please ensure you claim your Pod http://blog.cocoapods.org/Claim-Your-Pods/

[2015-03-30 10:14] #13031 closed

[2015-03-30 13:40] Benuuu opened #13033 "Spec checksums have changed"
After running pod install, a lot of my project's spec checksums have changed.  Many of these are not from any sort of version change, so I would not expect the checksums to change.

I believe the offending commit is: https://github.com/CocoaPods/Specs/commit/d05c8cc2fd247198db1d6c56bcc25874fe66508d

[2015-03-30 15:27] Keithbsmiley commented on #13033
I don't believe that commit is the culprit. I believe 0.36.0 changed the way checksums work. Did you run `pod install` with this new version? Either way we're not going to undo that commit, so I'm closing this. Sorry for the unexpected result.

[2015-03-30 15:27] #13033 closed

[2015-03-30 15:35] Benuuu commented on #13033
I'm still running 0.35.0, testing it against a person Specs repo changed the checksum.

[2015-03-30 18:20] kylefleming opened #13034 "TestFlightSDK no longer exists"
The TestFlight service no longer exists (https://developer.apple.com/testflight/update/). As such, the TestFlightSDK pod can't be installed anymore. It references a zip file that is no longer accessible (https://d193ln56du8muy.cloudfront.net/sdk/1397516197/TestFlightSDK3.0.2.zip).

What's the proper protocol for flagging this in the podspec? The 2 easiest things that come to mind are 1) remove all

[2015-03-30 19:12] squarefrog commented on #13034
The spec should be marked as deprecated. Developers should receive a warning next time they update or install.

[2015-03-30 20:06] Keithbsmiley commented on #13034
Honestly since the source is gone it barely matters that the spec is there. But deprecation is a good first step. I'll be happy to remove it soon after.

[2015-03-30 20:19] squarefrog commented on #13034
Ok let's deprecate for a couple of weeks the remove it. You're right that it barely matters, so it's academic what happens now.

[2015-03-31 07:39] StakshiGarg commented on #13031
Hi,

I tried using trunk but i get this message. Can you please help.
pod trunk push Specs/boost/1.57.0/

[!] Found podspec `Specs/boost/1.57.0/boost.podspec.json`
Validating podspec
 -> boost (1.57.0)

[!] You are not allowed to push new versions for this pod.

[2015-03-31 16:42] rwickliffe commented on #13033
I'm running 0.36.0, have made no other changes since the last pod install and have the same issue. I'm also of the opinion that the commit referenced is indeed the culprit as AFNetworking 2.5.2 did **not** change and apparently was not included in the 32,114 files changed. It'd be nice to know if that truly is the case or if something else is going on here.

[2015-04-09 09:00] MattiaConfalonieri opened #13057 "pod 'AdMobMediationAdapterInMobi', '~> 4.0.3'"
pod 'AdMobMediationAdapterInMobi', '~> 4.0.3' not work

[2015-04-09 09:25] squarefrog commented on #13057
The Pod installs fine here. If you have an issue with the library itself, I suggest you contact the developer responsible.

[2015-04-09 09:25] #13057 closed

[2015-04-19 05:45] Keithbsmiley commented on #13034
https://github.com/CocoaPods/Specs/pull/13072

[2015-04-19 05:45] #13034 closed

[2015-04-20 23:22] jalakoo opened #13076 "Request to delete Tealium... repos"
Is it possible to delete the following specs:

Tealium_Full
Tealium_Compact
Tealium-Full

These passed the lint test but don't actually work at this time.  Would like to upload new repos later with proper camel case naming convention other specs are using.

[2015-04-21 03:23] Keithbsmiley commented on #13076
You can submit a pull request to remove the existing versions. This is strongly discouraged because if you do this it will break any user's projects which are using your specs. In theory you could add your new versions and mark the old ones as `deprecated_in_favor_of` the new ones. This would probably be preferred. Also, I haven't looked at these libraries but just based on their names it sounds l

[2015-04-21 03:23] #13076 closed

[2015-05-05 17:42] mbishop-fiksu opened #13101 "What is the process to modify a deployed pod?"
Hello CocoaPods,

I haven't seen anything about this in the documentation, but how do I modify a cocoapod that I've deployed? I'm interested in these user-cases:

1. Redeploy the same version but with a different SHA.
2. Remove a deployed version completely (or mark it as deleted).

I'm assuming the best way is to fork the Specs repo, modify it myself and issue a PR. Is that the endorsed method th

[2015-05-05 18:21] keith commented on #13101
We cannot update unversioned specs (specs that point to a commit). If you'd like to add a new version the repository would have to be tagged. Then you'd push that new version via trunk.

You can mark a pod as [`deprecated`](https://guides.cocoapods.org/syntax/podspec.html#deprecated) or even better [`deprecated_in_favor_of`](https://guides.cocoapods.org/syntax/podspec.html#deprecated_in_favor_of)

[2015-05-05 18:21] #13101 closed

[2015-05-05 18:31] mbishop-fiksu commented on #13101
Specifically, I'd like to re-submit the *same version* of:
https://github.com/CocoaPods/Specs/commit/85ee99209729514d968c686ef890abf5ea16054e
but as the file will have some bits changed the sha will be changed.

To accomplish this, do I simply use trunk and submit the same version again?

[2015-05-05 18:48] keith commented on #13101
Ah you can submit a PR for that.

[2015-05-06 10:33] Morpheu5 opened #13107 "libpd 0.8.0 is out"
Just a heads up.

[2015-05-06 15:27] vsprainyte opened #13108 "PLCrashReporter cannot install/update pod"
PLCrashReporter source (https://www.plcrashreporter.org) specified in https://github.com/CocoaPods/Specs.git cannot be resolved.

[2015-05-06 16:11] keith commented on #13107
// @jasperblues

[2015-05-06 16:11] #13107 closed

[2015-05-06 16:12] keith commented on #13108
Looks like it's back up?

[2015-05-06 16:12] #13108 closed

[2015-05-06 16:18] vsprainyte commented on #13108
Not anymore.

[2015-05-06 21:02] mikeakers opened #13110 "couchbase-lite-ios triggers numerous (over 200) linker warnings"
I just added couchbase-lite-ios to my project and now I have tons of warnings from then linker whenever I do a build. See logs below. It looks like something in couches is referencing paths that only exist on the build box used to compile the couchbase framework.

[code]

[2015-05-06 21:03] mikeakers commented on #13110
[code]

[2015-05-06 22:04] keith commented on #13110
You should report this upstream. In the meantime you can inhibit warnings for that specific pod https://stackoverflow.com/questions/13208202/ignore-xcode-warnings-when-using-cocoapods

[2015-05-06 22:04] #13110 closed

[2015-05-06 22:14] mikeakers commented on #13110
This is happening when the whole project is linked, not the pod, so `inhibit_all_warnings!` has no effect.

Will try contacting upstream.

[2015-05-07 22:32] acoard opened #13112 "Repository not found: AFNetworking-MUResponseSerializer"
Hi all,

I'm relatively new to iOS dev, so apologies if I've made any mistakes.  I'm trying to run pod install in a project that contains AFNetworking-MUResponseSerializer.

Here's the error I get:

    Installing AFNetworking-MUResponseSerializer 1.0.1 (was 1.0.0)
    [!] Error installing AFNetworking-MUResponseSerializer
    [!] /usr/bin/git clone https://github.com/Ulianko/AFNetworking-MURespon

[2015-05-07 22:46] keith commented on #13112
Yep looks like the author deleted this.  ¯\_(ツ)_/¯

[2015-05-07 22:46] #13112 closed

[2015-05-09 03:54] jasperblues commented on #13107
@Morpheu5 Do you mean someone has published a spec or someone *should* publish a spec?

[2015-05-09 10:22] Morpheu5 commented on #13107
The latter – someone *should* publish a spec.

(unless one is out and I missed it)

[2015-05-09 10:31] jasperblues commented on #13107
OK, I'll build/test/publish one tomorrow.

[2015-05-12 11:26] jasperblues commented on #13107
Sorry - still haven't done this. Up to the eyeballs in client work. At the latest will do this weekend.

[2015-05-12 11:48] Morpheu5 commented on #13107
Thanks, no rush on my part, it was just a heads up :)

[2015-05-26 18:51] jcarroll3 opened #13138 "dsym_upload.sh resource Missing from Pod"

[2015-05-26 18:52] jcarroll3 commented on #13138
write repo, sorry

[2015-05-26 18:52] #13138 closed

[2015-05-29 12:18] mgetzbw opened #13146 "Salesforce iOS pod should depend on OpenSSL 1.0.2 and newer"
Given the issues with OpenSSL it is always best to be using the latest. Since 1.0.2 is binary compatible with 1.0.1 there is no reason not to use 1.0.2 and higher as the podspec

[2015-05-29 12:33] mgetzbw commented on #13146
issued moved to forcedotcom/SalesforceMobileSDK-iOS#1034

[2015-05-29 12:33] #13146 closed

[2015-05-29 17:26] numerics opened #13147 "Does Not Work with ScoutMaps-iOS-SDK 2.5.0"
Needs an update or new version to work with ScoutMaps-iOS-SDK 2.5.0

[2015-05-29 17:29] keith commented on #13147
Report this upstream.

[2015-05-29 17:29] #13147 closed

[2015-06-05 11:32] jigmelam opened #13162 "Support svn source"
Dear CocoaPods community,

I've created a git specs repository and make a podspec file for a private library that on SVN (see below) but it not work (check by pod spec lint ..)
spec.source = { :svn => "svn://jigmelam@192.168.1.2:3838/svn/private/abclib/"}

Could you please tell me how can I do that?

Thank you so much!

[2015-06-05 16:50] keith commented on #13162
This is possible https://guides.cocoapods.org/syntax/podspec.html#source

[2015-06-05 16:50] #13162 closed

[2015-06-06 19:20] itinance opened #13164 "ReactiveCocoa broken: metamacros.h not found with CocoaPods-Installation"
When ReactiveCocoa was installed with CocoaPods, some required files are missed:

metamacros.h, imported in RACTuple.h
EXTScope.h, imported in NSNotificationCenter+RACSupport.h

I tried out different Versions: 2.1.8, 2.4.7, 2.5.0 with XCode 6.3.2.

Steps to reproduce:

create a new Project with XCode, Single View Application, called "RCFail"
add a Podfile to the directory with following content: p

[2015-06-08 09:46] aaronn opened #13165 "UIView+Borders: You are not allowed to push new versions for this pod."
Looks like someone already submitted my thing to Cocoapods. How can I reclaim this?

[2015-06-08 10:31] squarefrog commented on #13164
You should report this [upstream](https://github.com/ReactiveCocoa/ReactiveCocoa/issues/new).

[2015-06-08 10:35] squarefrog commented on #13165
Attempt to claim your Pod using [this form](https://trunk.cocoapods.org/claims/new). It will then tell you it has already been claimed, but it will then allow you to dispute this, and one of the team members will look at it for you.

[2015-06-08 10:35] #13165 closed

[2015-06-08 14:09] tyorke opened #13166 "Request to remove EHOSMTilesDownloader"
I'd like to remove specs of EHOSMTilesDownloader.
As I got advised that 'bulk downloading of tiles from openstreetmap.org is strongly discouraged', and suggested that it should be removed from CocoaPods and GitHub.

[2015-06-08 15:53] itinance commented on #13164
i was sent here by the guys at ReactiveCocoa
https://github.com/ReactiveCocoa/ReactiveCocoa/issues/2070

[2015-06-08 20:14] squarefrog commented on #13164
Wait a minute. This feels familiar to what I experienced last week. Are you using `gnu-sed` ?

[2015-06-09 01:16] grevolution opened #13167 "project should not build if any of the Copy Pods Resources run script is missing from Target configuration"
Hi,

the pod install/update command changes the targets and adds couple of run scripts in the App Targets. one of them is Copy Pods Resources, if somehow that gets deleted there is no compile time error and the build compiles successfully without any flags raised. you only notice this when you get a runtime error when your code tries to access any of the bundled resources. there should be a compil

[2015-06-09 08:23] itinance commented on #13164
Actually i am just the consumer of cocoapods and the only thing i did was "pod install" :)
I am not familiar with pods-internals and so i'm unable to answer your question.

[2015-06-09 08:42] squarefrog commented on #13164
So I followed along with your steps using built in `sed`:

    $ sed --version
    sed: illegal option -- -
    usage: sed script [-Ealn] [-i extension] [file ...]
           sed [-Ealn] [-i extension] [-e script] ... [-f script_file] ... [file ...]

And I got no build errors at all. Using the `gnu-sed` installed through [Homebrew](https://brew.sh):

    $ brew install gnu-sed --with-default-names

[2015-06-09 08:42] #13164 closed

[2015-06-09 08:44] squarefrog commented on #13167
I feel this would be better suited on the main [CocoaPods](https://github.com/CocoaPods/CocoaPods/issues) repo.

[2015-06-09 08:44] #13167 closed

[2015-06-10 00:39] hughlang opened #13170 "CocoaPods 0.34 is now unsupported"
By changing the minimum required version to 0.35, all of our builds across a dozen apps are suddenly broken.  We have not been able to migrate to newer versions of Cocoapods and so this is a catastrophic problem.

Please re-instate 0.34 compatibility.

We would appreciate a warning before making changes like this.

[2015-06-10 00:44] keith commented on #13170
// @segiddins

[2015-06-10 01:07] segiddins commented on #13170
This was intentional, Kyle and I and Orta agreed it was time.

-Samuel E. Giddins

On Jun 9, 2015, at 5:44 PM, Keith Smiley <notifications@github.com> wrote:

// @segiddins

—
Reply to this email directly or view it on GitHub.

[2015-06-10 01:34] Drewsmits commented on #13170
We have the same issue at my company. Due to licensing, we actually fork and host all 3rd party repos we depend on internally, and actually don't need the master repo at all. Instead we rely on our private instenal podspec repo.

It would be fantastic if there was a way to remove all dependencies on the master repo, and completely insulate our tools from changes like this.

[2015-06-10 01:46] Drewsmits commented on #13170
For those of you running the same fire drill I just had to, we ended up hacking the CocoaPods-version.yml by creating an alias for `pod install`. This unblocked our build machines as we look to upgrade cocoapods when time allows.

[code]

[2015-06-10 01:46] hughlang commented on #13170
Thanks for that tip @Drewsmits

[2015-06-10 08:07] y326760432 commented on #13170
please !!!!!

[2015-06-10 08:07] y326760432 commented on #13170
@Drewsmits  how can i do ?

[2015-06-10 11:52] TofPlay commented on #13170
Same issue at my company too.

@segiddins you can not just change the minimum version without any warnings! :-1:

[2015-06-10 13:09] qLag commented on #13170
@segiddins :-1:
Same issue at my company too. Really disappointed, that's not pro...

[2015-06-10 13:58] CLIANG217 commented on #13170
@Drewsmits
Thanks a lot. It works for me

[2015-06-10 14:41] segiddins commented on #13170
Hey, this was a team decision we made to help us get to cocoapods 1.0 faster. 0.35 is over six months old, and even it is unsupported at this point (again, see pre-1.0)

-Samuel E. Giddins

On Jun 10, 2015, at 6:59 AM, Chen LIANG <notifications@github.com> wrote:

@Drewsmits
Thanks a lot. It works for me

—
Reply to this email directly or view it on GitHub.

[2015-06-10 15:11] qLag commented on #13170
I understand but you should clearly say that you will deprecate older versions than 35.0 to let us time to migrate more easily.
Today, it means that all our framework releases does not work anymore because they need to use Cocoapods 0.33.1 . You are becoming the major dependency manager for Swift/Obj-C projects, and you surely have thousands users. A good communication about this kind of decision

[2015-06-10 15:29] floere commented on #13170
@qLag Please refrain from personal attacks. We will ignore or delete comments that contain personal attacks. Your frustration is understandable, to a certain extent, but venting here will not help one bit.

[2015-06-10 15:41] floere commented on #13170
@qLag Singling out a single person is personal e.g. "that guy".

[2015-06-10 15:48] qLag commented on #13170
Okay sorry, edited. There is one name on a commit so ...

But i always supported your project, i just want you understand what i try to explain (with my bad english). Anyway, the subject is now closed for me (i use @Drewsmits trick).

[2015-06-10 15:57] floere commented on #13170
@qLag No worries - I see. There will always be just a single team member on a commit - but we decide and execute as a team. In this case as well.

[2015-06-10 16:02] Drewsmits commented on #13170
@floere Thanks for the context. Is there a way to remove the public master repo as a dependency? I'd like to only use our private podspec repo, and insulate our toolset from changes like this.

[2015-06-10 16:09] TofPlay commented on #13170
@qLag :+1:

Today, it means that all our framework releases does not work anymore because they need to use Cocoapods 0.33.1 . You are becoming the major dependency manager for Swift/Obj-C projects, and you surely have thousands users. A good communication about this kind of decision is essential (blog, newsletter... i don' know) ...

[2015-06-10 16:26] kylef commented on #13170
### Why the minimum version has been bumped

This version has been bumped for a number of reasons, there have been many changes to the podspec DSL in CocoaPods 0.35 and onwards. Some of those changes have been backwards incompatible. For example in CocoaPods 0.35 the semantics behind `requires_arc` have been changed. There are many specifications in the specs repository that require newer CocoaPod

[2015-06-10 16:27] kylef commented on #13170
### How you can work around this problem

You can still use CocoaPods 0.33, you will just need to use an older version of the specs repo which is compatible with CocoaPods 0.33. This can be achieved by checking out an older commit and then using `pod install --no-repo-update`.

[code]

#### Sources

In this case (@Drewsmits), if you specify your source repositories (as required in CocoaPods 0.34 a

[2015-06-10 16:27] kylef commented on #13170
We weren’t aware of any outstanding or major bugs introduced in CocoaPods 0.35 and onwards preventing users from migrating. Can you please [report separate issues](https://github.com/CocoaPods/CocoaPods/issues/new) covering the problems you are facing in our issue tracker.

[2015-06-10 16:30] hughlang commented on #13170
Thanks @kylef.  I've learned much from your last few posts.

[2015-06-10 16:36] Drewsmits commented on #13170
@kylef Thanks for the detailed info! Currently we take advantage of the sources feature. However, I noticed that even if I removed the master spec repo as a source, it still attempted to download it. In fact, any pod command I ran, like `pod --help`, would attempt to sync the master repo first. For context, I'm on 0.34.1.

And thanks for free software and the support! If you ever want to talk to s

[2015-06-10 16:38] kylef commented on #13170
I've reverted this change in f5f369a and now the master specs repository will work with CocoaPods 0.32.1 and onwards.

I'd highly encourage you to get on the latest version as soon as possible as we will be bumping the version back in the near future. We don't have a date when we will do this yet but we will update this thread once we've figured this out and a better strategy for doing this in the

[2015-06-10 16:58] alloy commented on #13170
@TofPlay Your comments are really not ok. Up to now @segiddins has been spending amazing amounts of time on creating something that you were using for free and now you are treating him as if it was his task to work for you and didn’t do his work right. The truth is that he does not owe you a single thing.

You’re also free to use other tools, but there’s no need to rally the crowd here, which serv

[2015-06-10 21:00] hughlang commented on #13170
Thanks everyone! It's great to have a small reprieve.

I will work with my team to move us forward to the latest CocoaPods version.

[2015-06-10 21:15] alloy commented on #13170
@Drewsmits Can you please file a ticket for that? Being able to completely not use the master repo is a desirable feature :+1:

[2015-06-11 07:17] qLag commented on #13170
@kylef @floere @segiddins  Okay thanks for details. I think everything is clear now for all of us :)

[2015-06-11 07:46] azhabort commented on #13170
@kylef thanks for supporting back old versions! :+1:

[2015-06-15 04:50] #13170 closed

[2015-06-15 04:51] keith commented on #13166
Please sumbit a PR to do this.

[2015-06-15 04:51] #13166 closed

[2015-06-19 16:27] kevinnguy opened #13202 "Minimum requirement of iOS for MTLManagedObjectAdapter"
Hi @sodastsai , I was wondering why the minimum requirement of iOS version for MTLManagedObjectAdapter is iOS 8.0 and Mantle's minimum requirement is iOS 5.0. Is it possible to lower MTLManagedObjectAdapter's minimum requirement? Thanks!

I also presented this question in MTLManagedObjectAdapter repo
https://github.com/Mantle/MTLManagedObjectAdapter/issues/12

[2015-06-19 17:29] sodastsai commented on #13202
Cuz this adapter is for Mantle 2.x., and the Mantle team said the 2.x is [for OS X 10.9 and iOS 8](https://github.com/Mantle/Mantle/blob/master/CHANGELOG.md#os-x-109-and-ios-8).  So I set its minimum deploy target to the same as Mantle 2.x.

I'm not sure whether old iOS works or not. If it does works, I could lower it. :)

[2015-06-19 17:47] kevinnguy commented on #13202
I'm currently working on a project that supports iOS 7 and haven't gotten any warnings. I'd assume since Mantle supports iOS 5.0 in its podspec that MTLManagedObjectAdapter would be the same as well. Let me see if Mantle kept the same minimum when it still had MTLManagedObjectAdapter in its class.

[2015-06-19 17:52] kevinnguy commented on #13202
https://github.com/CocoaPods/Specs/blob/master/Specs/Mantle/1.5.4/Mantle.podspec.json

Mantle had its minimum requirement at iOS 5 so I would think we can lower MTLManagedObjectAdapter's requirement. But since the Mantle team said that 2.x is for OS X 10.9 and iOS 8, I'm confused with Mantle's podspec.

[2015-06-22 01:10] dburr opened #13208 ""fatal: reference is not a tree" when attempting to use cocos2d 1.1.rc0 pod"
I'm maintaining some legacy code that uses an older version of cocos2d (1.1.rc0) however when I attempt to install said pod, I am getting the following error:

[code]

I checked the git repo referenced in the Cocoapods spec and there is indeed no commit with that tag.

[2015-06-23 03:29] sodastsai commented on #13202
Well, by the policy listed in #12199, to change the content of a podspec, you should push a new version of the package. But pushing a new version of a package requires add a new tag related to the version in the code repository. (a CocoaPods warning: `The version should be included in the Git tag.`) But the git tag is not something I could change.

tl;dr, if you need use it directly via `pod 'MTLM

[2015-06-23 13:42] mezi opened #13209 "Unavailable download url in OpenCV.podspec.json"
http://code.opencv.org/issues/4418
The linked download url in Specs/Specs/OpenCV/2.4.10/OpenCV.podspec.json podspec are unavailable: "http://hivelocity.dl.sourceforge.net/project/opencvlibrary/opencv-ios/2.4.10/opencv2.framework.zip"

[2015-06-27 20:02] segiddins commented on #13202
@sodastsai you totally can push a new spec version that references the same tag

[2015-06-28 06:20] sodastsai commented on #13202
Well well well ... I tried and said at last comment.

To update a new spec version, maybe "1.0-1" or "1.1", the name of the git tag must contain also "1.0-1" or "1.1". The `trunk` repo of Cocoapods applies more restrict rules.

[2015-07-08 15:32] jaboutboul opened #13264 "Allow pushing of updates to podspec file"
Hi All,

Currently, it is impossible to do something like 'pod trunk push' to update a specfile. It would be great we would be able to push updates to a spec, instead of bumping the version number, especially for minor things like point releases and small updates.

[2015-07-08 16:58] keith commented on #13264
If your spec is broken, you can submit a pull request to update it. We highly discourage significant changes in these PRs. That is when you should bump the version number.

[2015-07-08 16:58] #13264 closed

[2015-07-10 08:55] Stunner opened #13272 "You are not allowed to push new versions for this pod."
Attempting to push up an update (from the same computer as always) to my pod and got the following:
[code]
I verified with the email when registering a new session. The email I provided matches that in the podspec of my project:
[code]
Would appreciate any assistance in getting out of this jam.

[2015-07-11 20:47] Stunner commented on #13272
I was foolishly re-registering the email I had included in the `podspec` instead of my Github-tied email address which I initially used to push up the pod.

[2015-07-11 20:47] #13272 closed

[2015-07-12 14:28] wuwen1030 opened #13287 "Unable to find my project"
I have created my own project “XTOnePixelLine”, and I has pushed it to my forked project, and created a pull request. But I still can't find my project using "pod search XTOnePixelLine".
![fcaf65df-c4e1-4874-9154-904de11ebb7d](https://cloud.githubusercontent.com/assets/3377567/8638181/fb633ac2-28e4-11e5-96a8-eb634057afe5.png)

[2015-07-12 17:41] keith commented on #13287
As you can see that pull request was closed without being merged. Unless you followed the linked instructions in that comment it has not been added yet

[2015-07-12 17:41] #13287 closed

[2015-07-13 01:43] wuwen1030 commented on #13287
Thanks a lot.

[2015-07-13 01:57] wuwen1030 opened #13290 "Can't find my project"
Sorry, I'm here again. I have open an issue [#13287](https://github.com/CocoaPods/Specs/issues/13287). And thank you for the answer, but I still don't know how to make that. Here's your answer.
[code]
I don't see any "the linked instructions", thanks again.

[2015-07-13 04:42] segiddins commented on #13290
Please read https://github.com/CocoaPods/Specs/pull/12199.

[2015-07-13 04:42] #13290 closed

[2015-07-13 05:12] wuwen1030 commented on #13290
Thanks a lot. I have solved the problem under guide of [https://guides.cocoapods.org/making/getting-setup-with-trunk.html](https://guides.cocoapods.org/making/getting-setup-with-trunk.html)

[2015-07-14 05:32] segiddins commented on #13208
Nothing we can really do about that, I'd contact the owners of that pod.

[2015-07-14 05:32] #13208 closed

[2015-07-14 05:32] segiddins commented on #13209
I'd contact the owner of that pod.

[2015-07-14 05:32] #13209 closed

[2015-07-16 09:47] jasperblues commented on #13107
I did some minor maintenance on a project that has libPd today, and realized that I had forgotten about this ticket. Is it still outstanding?

[2015-07-16 09:56] jasperblues commented on #13107
Created pull req. with updated podspec. As soon as merged will push to CocoaPods trunk. Sorry for the delay!

[2015-07-17 14:43] Morpheu5 commented on #13107
Thanks! I believe 0.8.2 is out now… seems to be quite the moving target :) Anyway, thanks for your work, I'm sure 0.8.0 will be good enough for a while.

[2015-07-27 10:32] obi-joan opened #13346 "geos 3.4.2 installation error"
Trying to install geos 3.4.2 returns this error:

hal9000-2:apGis obi-joan$ pod install
Updating local specs repositories
Analyzing dependencies
Downloading dependencies
Using FMDB (2.5)
Using GeodeticUTMConverter (1.0.7)
Installing geos (3.4.2)
[!] /bin/bash -c
set -e

type -P autoconf &>/dev/null || alias autoconf 'xcrun autoconf'
type -P autoheader &>/dev/null || alias autoheader 'xcrun autohea

[2015-07-28 18:13] tabuchid commented on #13164
I just started seeing this too. Did anyone find out if its a version of sed or find that messes it up?
cc/ @squarefrog @ashfurrow

[2015-07-28 18:25] ashfurrow commented on #13164
The latest RC of ReactiveCocoa does not use the `prepare_command`: https://github.com/CocoaPods/Specs/blob/master/Specs/ReactiveCocoa/3.0-RC.1/ReactiveCocoa.podspec.json

The last 2.x release was in April, and I've not heard of this coming up again: https://github.com/CocoaPods/Specs/blob/master/Specs/ReactiveCocoa/2.5/ReactiveCocoa.podspec.json

@tabuchid could you please provide your CocoaPods v

[2015-07-28 18:51] tabuchid commented on #13164
Thanks for getting back @ashfurrow. This was happening to me on both Cocoapods 0.38.2 and 0.37.2.
Turns out something failed, I still am not sure what with the file renames in the prepare_command and the result got cached by Cocoapods. I think the core issue was a version of sed or find I had installed but even after resolving that I was still seeing the problem until I cleared the cocoapods cache

[2015-08-10 05:03] schwehr opened #13382 "libais out of date"
https://github.com/CocoaPods/Specs/blob/master/Specs/libais/1.0.3/libais.podspec.json

Points to rolker.  That is a very old fork of libais.  https://github.com/schwehr/libais is very far ahead of Roland's fork.  Also, I've switched libais from LGPL to the Apache 2.0 license.

[2015-08-18 08:31] bytegh opened #13425 "about how to use PromiseKit with cocoapods"
hey guys,

I am planing to use PromiseKit in my project. but when I added the PromiseKit into the Podfile, and run the command "pod update", there is an error which tell me the pods can not be find. how can I solve this problem ?

-----
[!] Unable to satisfy the following requirements:

- `PromiseKit (~> 2.2.1)` required by `Podfile`
-----

thanks

[2015-08-18 08:53] neonichu commented on #13425
Most likely you have an incompatible deployment target, PromiseKit 2.2.1 needs at least iOS 8. An improved error message for this will be in the next release of CP.

[2015-08-18 08:53] #13425 closed

[2015-08-18 13:48] saibier opened #13428 "couchbase-lite-ios podfile / README version support mismatch"
The podfile says only 7+ is supported, but the README says 6+ is supported.

[2015-08-18 17:36] keith commented on #13428
Submit this upstream please

[2015-08-18 17:36] #13428 closed

[2015-08-25 20:09] segiddins commented on #13382
Please contact the owner of the pod directly to push a new spec.

[2015-08-25 20:09] #13382 closed

[2015-08-25 20:09] segiddins commented on #13346
Please report this issue directly to the owner of the pod.

[2015-08-25 20:10] #13346 closed

[2015-08-25 20:10] segiddins commented on #13202
Closing as this is not an issue for the specs repo.

[2015-08-25 20:10] #13202 closed

[2015-08-25 23:17] schwehr commented on #13382
And who is the owner?  github barfs on trying to get the history and I see no owner field in the the file.  As a non user of this, it's not obvious what is going on.  Yet I get people talking to me about this repo.

[2015-08-25 23:25] segiddins commented on #13382
`pod trunk info libais`

->

[code]

[2015-08-27 22:14] natep opened #13460 "Claim Your Pod form is broken"
Hey, apparently I need to claim my Pod (DropBlocks) so that I can push a new version for it (the current version is broken).

Unfortunately when I tried to use the Claim Your Pod form (https://trunk.cocoapods.org/claims/new), I got an Internal Server Error when I submitted it.

[2015-08-28 01:50] natep commented on #13460
Apparently my original request did work, despite the server error. I just tried filling out the form again, and found that I had already been set as the owner.

[2015-08-28 01:50] #13460 closed

[2015-09-02 16:26] steveriggins opened #13469 "How do I load 3.0 via CocoaPods?"

[2015-09-02 16:27] #13469 closed

[2015-09-08 13:55] dionysiusmarquis opened #13477 "boost missing .hpp files"
I just switched from git submodule to CocoaPods and tried to install boost. Unfortunately I get following error:
``{projectdir}/Pods/boost/boost/type_index.hpp:29:13: 'boost/type_index/stl_type_index.hpp' file not found
``

actually the whole ``boost/type_index/`` folder is empty.

[2015-09-08 16:07] keith commented on #13477
Report this upstream.

[2015-09-08 16:07] #13477 closed

[2015-09-09 10:12] dionysiusmarquis commented on #13477
?

[2015-09-16 06:57] JanC opened #13497 "spec lint transitive dependencies that include static binaries"
Hi,
I have a podspec for a static library that has a dependency to another static library. When I run ` pod spec lint` I get the error message
[code]

This is the main library
https://github.com/CocoaPods/Specs/blob/master/Specs/FyberSDK/8.0.0/FyberSDK.podspec.json

And my podspec simply uses is as  `dependency`
[code]

[2015-09-16 07:17] JanC commented on #13497
When I use the `--use-libraries` flag it works

[code]

[2015-09-16 07:17] #13497 closed

[2015-09-16 17:17] RQEBMM opened #13504 "Fix for broken specs repo not working"
I only recently ran into the issue with the broken specs repo, and the instructions don't seem to fix it. I followed the two steps laid out here: http://blog.cocoapods.org/Repairing-Our-Broken-Specs-Repository/ and still get the error on the 2nd step. I took it a step further, ran `gem uninstall cocoapods`, rm'd the spec repo, rm'd my Pods folder, rm'd the Library/Cache/Cocoapods, and then ran `ge

[2015-09-16 18:26] RQEBMM commented on #13504
I was able to get it working. First I worked around the failure during `pod setup` by deleting the version.yaml file. (I'm pretty sure that wasn't the correct way to do it, but based on my reading of the source_managers class it got around the error I was getting).

Then I ran into yaml parsing errors on `pod install`. Checked with my teammates who weren't having problems, and I had Ruby 2.1.x whi

[2015-09-16 18:26] #13504 closed

[2015-09-23 02:42] lucascorrea opened #13515 "Facebook iOS SDK - FBSDKShareKit FBSDKLoginKit FBSDKCoreKit problem dependency"
I am updating my spec to support the new framework of Facebook, but it turns out this error. I have already put in my project
             //: configuration Debug =
        CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = YES

That's my spec

        #  Be sure to run `pod spec lint SCFacebook.podspec' to ensure this is a
        #  valid spec and to remove all comments including this befor

[2015-09-28 12:22] sumitjain7 opened #13528 "Want to integrate in Swift 1.2"
Current version of ObjectMapper is for Swift 2.0. I need the library for swift1.2. How to get that?

[2015-09-28 17:24] keith commented on #13528
Use the last version available written in swift 1.2. Check the upstream repo to figure out which.

[2015-09-28 17:24] #13528 closed

[2015-09-29 09:53] krzyzanowskim opened #13529 "Dropbox-iOS-SDK version 2.0.0-b3 is broken"
There is no version 2.0.0-b3 in repo, yet it is listed as such https://cocoapods.org/pods/Dropbox-iOS-SDK

latest podspec is for 1.3.13
https://github.com/CocoaPods/Specs/tree/master/Specs/Dropbox-iOS-SDK

[2015-09-29 17:17] NQuinn27 commented on #13515
+1 I have the same issue. Any light on it?

[2015-09-29 18:15] lucascorrea commented on #13515
I solved this way.

     pod spec lint SCFacebook.podspec --use-libraries

[2015-09-29 18:16] #13515 closed

[2015-10-02 07:28] GerTeunis opened #13534 "My Podspec is visible twice on cocoapods.org"
OpenSSL-OSX
Could you have a look at this?

[2015-10-08 02:42] boyXiong opened #13544 "'pod lib lin' support Swift 2.0 ?"
‘pod lib lint’    Command support  Swift 2.0 ?

Why I compile and run is ok,However, according to the command terminal prompt information modification, Xcode7 Error reporting

pod --version
0.38.2

[2015-10-08 02:44] keith commented on #13544
You should post this on the [main repo](https://github.com/CocoaPods/CocoaPods), when you do you should also post the errors you're seeing.

[2015-10-08 02:44] #13544 closed

[2015-10-08 02:44] keith commented on #13534
<img width="1226" alt="screen shot 2015-10-07 at 19 44 14" src="https://cloud.githubusercontent.com/assets/283886/10356407/cd9fff18-6d2b-11e5-9b4c-87bcf86e6161.png">

Looks like whatever you were seeing was fixed.

[2015-10-08 02:44] #13534 closed

[2015-10-12 05:17] palplus opened #13552 "CrittercismSDK missing dsym_upload.sh script"

[2015-10-13 12:06] boyXiong opened #13557 "You are not allowed to push new versions for this pod."
pod trunk info XWSwiftRefresh

XWSwiftRefresh
    - Versions:
      - 0.1.2 (2015-10-11 13:37:49 UTC)
    - Owners:
      - Unclaimed <unclaimed-pods@cocoapods.org>

Why I can't update my code
pod trunk me
  - Name:     boyXiong

This frame is my upload, but I can't change now, and it's not me, what should I do

[2015-10-13 16:50] keith commented on #13557
You need to claim your pod here: http://blog.cocoapods.org/Claim-Your-Pods/

[2015-10-13 16:50] #13557 closed

[2015-10-14 09:47] alexandros-s opened #13560 "AWSiOSSDK/Runtime can't find AWS_SBJson.h"
AWSiOSSDK/Runtime can't find AWS_SBJson.h.

While the file exists in ThirdParty directory, it fails to link to it.

Podfile example

[code]

Then I do

[code]

Podspec 1.7.1

[2015-10-14 10:33] alexandros-s commented on #13560
Actually I had a go trying to find which version of AWSiOSSDK is working and I had the following findings

* 1.7.1 AWS_SBJson.h is missing
* 1.7.0 AWS_SBJson.h is missing
* 1.6.1 There is a circular dependency between AWSiOSSDK/DynamoDB and AWSiOSSDK/Runtime
* 1.6.0 There is a circular dependency between AWSiOSSDK/DynamoDB and AWSiOSSDK/Runtime
* 1.5.0 There is a circular dependency between AWSiOS

[2015-10-15 03:04] JoeShi opened #13561 "What is the size of .cocoapods folder"
What is the size of .cocoapods folder.

My ~/.cocoapods folder grows up to 550MB now and is still growing. What is the really size of it?

[2015-10-15 03:43] keith commented on #13561
Not sure exactly how large the repo is if you clone the entire thing. As of recently CocoaPods does a shallow clone of the [specs repo](https://stackoverflow.com/questions/6941889) to try and keep less metadata around. If you'd like you can remove and reclone the the specs repo, since depending on how long it's been around it could've ballooned a little larger than necessary. I just did this with:

[2015-10-15 15:59] timbrom opened #13562 "Dependency resolution error in 0.39.0"
I'm trying to install the JBWebViewController cocoapod using cocoapod 0.39.0 and getting the following error message:

$ pod install
Updating local specs repositories
Analyzing dependencies
[!] Unable to satisfy the following requirements:

- `ARChromeActivity (= 1.0)` required by `JBWebViewController (1.0.3)`
- `JBWebViewController` required by `Podfile`

Specs satisfying the `JBWebViewController

[2015-10-15 16:04] timbrom commented on #13562
Looks like I made this in the wrong place.

[2015-10-15 16:04] #13562 closed

[2015-10-20 06:01] hassanraza-maavratech opened #13573 "XMPP framework pod not compiling 3.6.4 onward"
Hello
I don't if any one else found this error since i searched google and found none. I am getting error when updating or installing pod
[!] The platform of the target `Pods` (OS X 10.10) is not compatible with `XMPPFramework (3.6.5)` which has a minimum requirement of iOS 6.0.
and same goes for 3.6.6.
It work fine on 3.6.4.
When i went to see the pod spec file for 3.6.4 . It has support for both

[2015-10-21 07:34] xinlidexiaoman opened #13578 "Got warning when add txt or image to resources"
My podspec :

Pod::Spec.new do |s|
  s.name         = "JOProjectBaseSDK"
  s.version      = "1.0.2"
  s.summary      = "Project Base SDK"
  s.homepage     = "https://github.com/xinlidexiaoman/JOProjectBaseSDK"
  s.license      = "MIT"
  s.author        = { "Joshua" => "505398605@qq.com" }
  s.platform     = :ios, '7.0'
  s.source       = { :git => "https://github.com/xinlidexiaoman/JOProjectBaseSD

[2015-10-21 10:04] arielelkin opened #13580 "Google.podspec: Add or remove Measurement subspec"
1. Integrated Google Analytics pod into my Xcode project by following instructions from [official documentation here](https://developers.google.com/analytics/devguides/collection/ios/v3/?ver=swift).
1. Add `pod 'Google/Analytics'` to Podfile, as instructed
1. Run app, console prints this:
[code]

What is this `Measurement` subspec?? It's not in the pod's list of subspec:

https://github.com/CocoaP

[2015-10-21 17:33] keith commented on #13580
This needs to be asked upstream

[2015-10-21 17:33] #13580 closed

[2015-10-23 14:11] arielelkin commented on #13580
https://code.google.com/p/analytics-issues/issues/detail?id=762

[2015-10-25 06:36] sfarges opened #13586 "FBSDKLoginKit CFBundleShortVersionString invalid for iTunes upload"
Hello, version 4.7.0.1 is invalid and prevents upload to itunes connect.
@chrisp-fb  see commit fcd5e8d8063de49eb50d8b5da94f66a194e2a38d
Issues is also identified here https://developers.facebook.com/bugs/828229420628334/
Best regards

[2015-10-26 03:16] #13552 closed

[2015-10-28 21:05] TommyJohnDub opened #13590 "boost/core directory is missing"
Files are missing from the cocoa pod source but present when downloading boost_1_57_0.tar.gz from boost.org. Running a diff on the two directories yielded 397 files/directories missing.

[2015-11-01 19:39] segiddins commented on #13590
You should contact the maintainer of the boost podspec.

[2015-11-01 19:39] #13590 closed

[2015-11-01 19:39] segiddins commented on #13586
This is a bug in CocoaPods that I've recently fixed.

[2015-11-01 19:39] #13586 closed

[2015-11-01 19:40] segiddins commented on #13573
You should contact the maintainers of the XMPP podspec.

[2015-11-01 19:40] #13573 closed

[2015-11-11 18:48] andretbm opened #13625 "remove testCocoaPods"
This pod is outdated please remove. thank you

[2015-11-11 18:48] andretbm opened #13626 "remove testSwiftframework"
This pod is outdated please remove

[2015-11-11 18:58] keith commented on #13625
You can submit a pull request for this.

[2015-11-11 18:58] #13625 closed

[2015-11-11 18:58] keith commented on #13626
You can submit a pull request for this.

[2015-11-11 18:58] #13626 closed

[2015-11-13 15:24] Blahartinger opened #13629 "FBSDKLoginKit 4.8.0 is not downloading"
cocoapods.org shows 4.7.1 still...

https://cocoapods.org/?q=FBSDKLoginKit

but Core and share are updated: https://cocoapods.org/pods/FBSDKCoreKit https://cocoapods.org/pods/FBSDKShareKit

I reported this to facebook, but they're pointing me to you guys. https://developers.facebook.com/bugs/398701923656519/

[2015-11-13 18:38] Blahartinger commented on #13629
It appears the cocoapods bot hasn't picked this up and it's been days...

[2015-11-13 18:41] Blahartinger commented on #13629
@dzhuowen - you updated the other specs..want to update loginkit

[2015-11-13 22:50] dzhuowen commented on #13629
Thanks for pointing it out @Blahartinger ! Re-pushing FBSDKLoginKit on cocoaPods.

[2015-11-17 02:25] orta commented on #13629
:+1:

[2015-11-17 02:25] #13629 closed

[2015-11-17 02:25] orta commented on #13578
Hi @xinlidexiaoman - this is not the place to be asking these kinds of questions, please use stack overflow.

[2015-11-17 02:25] #13578 closed

[2015-11-17 02:26] orta commented on #13561
Closing due to inactivity.

[2015-11-17 02:26] #13561 closed

[2015-11-17 18:04] segiddins commented on #13560
Take this up with the maintainers of the AWSiOSSDK pod -- this repository merely holds the spec.

[2015-11-17 18:04] #13560 closed

[2015-11-18 20:47] dibosh opened #13643 "The pod is failing to get compiled"
I am getting this error for a while and couldn't fix it after passing more than 4-5hours to debug the issue. Can you please help, @robbiehanson ?
<img width="971" alt="screen shot 2015-11-19 at 2 46 01 am" src="https://cloud.githubusercontent.com/assets/8603524/11253795/c6ffd6bc-8e67-11e5-82ef-1257cb1babfe.png">

[2015-11-18 23:47] robbiehanson commented on #13643
@dibosh YapCache has been updated to support "generics", which is a new Objective-C language feature that was added in Xcode 7: https://developer.apple.com/library/prerelease/ios/documentation/DeveloperTools/Conceptual/WhatsNewXcode/Articles/xcode_7_0.html

If you're getting errors trying to compile the project, make sure you're using Xcode 7.

If you're using YapCache for your own code, then you

[2015-11-19 05:46] dibosh commented on #13643
Thanks a bunch @robbiehanson I am going to try to open it in xcode 7.
@keith sorry for creating the issue, I just needed quick help actually- it was pretty urgent. Otherwise I would have asked over StackOverflow. Thanks anyways.

[2015-11-20 22:25] kstenerud opened #13651 "Pod lint erroneously complaining about git tag."
I changed the version of my podspec from 2.5 to 2.5.1 and now it's complaining about the git tag.

    Pod::Spec.new do |s|
      s.name     = 'ObjectAL-for-iPhone'
      s.version  = '2.5.1'
      s.license  = { :type => 'MIT', :file => 'ObjectAL/LICENSE.ObjectAL.txt' }
      s.summary  = 'Mac and iOS Audio, minus the headache.'
      s.homepage = 'http://kstenerud.github.io/ObjectAL-for-iPhone/'

[2015-11-20 22:28] keith commented on #13651
[code]

[2015-11-20 22:28] #13651 closed

[2015-11-20 22:30] kstenerud commented on #13651
Maybe make the error message a little more clear instead? That would reduce the number of questions regarding it.

[2015-11-20 22:33] keith commented on #13651
Feel free to submit a PR on the [core repo](https://github.com/CocoaPods/Core/blob/c91e84a264ce9ab5fc500cc8bd8ffad9c9ecd3cf/lib/cocoapods-core/specification/linter.rb#L346-L347) updating the copy!